<% unless @snippets.empty? %>
	<% @snippets.each do |snippet| %>
	<article class="snippet">
		<header>
			<h3><a href="/snippet/<%= snippet.id %>"><%= snippet.title %></a></h3>
		<header>
		
		<section>
			<pre><%= snippet.snippet %></pre>
		</section>
		
		<footer>
			<p>Added <time datetime="<%= snippet.created %>"><%= snippet.created.strftime("#{snippet.created.day.to_ordinal} %B %Y") %> by Anonymous</p>
		</footer>
	</article>
	<% end %>
<% else %>
	<h3>No Snippets Found, why not <a href="/submit">submit</a> one...</h3>
<% end %>